<div class="flex items-center justify-center">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-white">
        Login to your account
      </h2>
      <p class="mt-2 text-center text-sm text-gray-400">
        Don't have an account?
        <a
          routerLink="/register"
          class="font-medium text-blue-400 hover:text-blue-300"
        >
          Register here
        </a>
      </p>
    </div>
    <form
      class="mt-8 space-y-6"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="rounded-md space-y-4 flex flex-col gap-4">
        <app-input
          label="email"
          type="email"
          placeholder="Email"
          [floatingLabels]="true"
          [errors]="email?.errors || undefined"
          [touched]="email?.touched || false"
          formControlName="email"
          width="100%"
        >
        </app-input>
        <app-input
          label="password"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
          [rightImageUrl]="eyeIconUrl"
          [errors]="password?.errors || undefined"
          [touched]="password?.touched || false"
          [floatingLabels]="true"
          width="100%"
          (rightIconClick)="togglePassword()"
        ></app-input>
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input
            id="remember-me"
            formControlName="rememberMe"
            type="checkbox"
            class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-700 bg-gray-800 rounded"
          />
          <label for="remember-me" class="ml-2 block text-sm text-gray-400">
            Remember me
          </label>
        </div>

        <div class="text-sm">
          <a href="#" class="font-medium text-blue-400 hover:text-blue-300">
            Forgot your password?
          </a>
        </div>
      </div>

        <app-button
          size="ultra-large"
          variant="primary"
          color="default"
          [disabled]="loginForm.invalid"
          type="submit"
          [loading]="isLoading"
          class="flex justify-center w-full"
        >
          <div class="flex items-center justify-center gap-2 w-full">
            <img src="/img/lock.svg" alt="lock" class="w-5 h-5" />
            <span class="mx-auto">Login</span>
          </div>
        </app-button>
    </form>
  </div>
</div>
