@if(vacancy()){
<mat-card class="card">
  <mat-card-header>
    @if(image){
    <div mat-card-avatar>
      <img
        [src]="vacancy().logoCompany"
        alt="Logo"
        class="w-12 h-12 rounded-lg object-cover"
      />
    </div>
    }
    <mat-card-title>{{ vacancy().rol }}</mat-card-title>
    <mat-card-subtitle class="text-sm">{{ vacancy().nameCompany }}</mat-card-subtitle>
    @if(accionsheader()){
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    }
  </mat-card-header>

  <mat-card-content>
    <div class="flex items-center mb-2">
      <mat-icon
        class="mr-1"
        fontIcon="location_on"
        color="primary"
        inline
      ></mat-icon>
      {{ vacancy().location }}
    </div>
    <div class="flex items-center">
      <mat-icon class="mr-1" fontIcon="event" color="primary" inline></mat-icon>
      {{ vacancy().creationDate }}
    </div>
  </mat-card-content>

  @if(actions()){
  <mat-card-actions>
    <ng-content select="[card-actions]"></ng-content>
  </mat-card-actions>
  }
</mat-card>
}
