<button 
  mat-icon-button 
  [matMenuTriggerFor]="themeMenu" 
  class="theme-toggle-btn"
  [attr.aria-label]="'Cambiar tema - Actual: ' + currentTheme">
  
  <mat-icon class="theme-icon">
    {{ getThemeIcon() }}
  </mat-icon>
</button>

<mat-menu #themeMenu="matMenu" class="theme-menu">
  <button 
    mat-menu-item 
    (click)="setTheme('light')"
    [class.active]="currentTheme === 'light'">
    <mat-icon>light_mode</mat-icon>
    <span>Claro</span>
  </button>
  
  <button 
    mat-menu-item 
    (click)="setTheme('dark')"
    [class.active]="currentTheme === 'dark'">
    <mat-icon>dark_mode</mat-icon>
    <span>Oscuro</span>
  </button>
  
  <button 
    mat-menu-item 
    (click)="setTheme('auto')"
    [class.active]="currentTheme === 'auto'">
    <mat-icon>brightness_auto</mat-icon>
    <span>Automático</span>
  </button>
</mat-menu> 