<footer class="py-10 border-t border-gray-200 mt-3">
  <div class="max-w-6xl mx-auto px-4 flex flex-col md:flex-row justify-between items-center gap-6">
    <!-- Navegación -->
    <div class="flex flex-col md:flex-row gap-4 text-sm text-gray-400">
      <a href="#" class="hover:text-white transition">Terms and Conditions</a>
      <a href="#" class="hover:text-white transition">Privacy Policy</a>
      <a href="#" class="hover:text-white transition">FAQs</a>
    </div>

    <!-- Marca / Copyright -->
    <div class="text-sm text-center md:text-right text-gray-400">
      <a
        href="https://portfolio-tobias-moreno.netlify.app/"
        target="_blank"
        class="hover:text-white transition"
      >
        © {{ year }} Technologies for Business
      </a>
    </div>
  </div>
</footer>
